* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #ff9ce3, #4ab3f4);
  overflow: hidden;
  /* opacity: 0; */
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.welcome {
  font-size: 40px;
  font-weight: bold;
}

.nav-controls {
  display: flex;
}

.nav-options {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
  margin-left: 15px;
}

.card-container {
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.card {
  min-height: 250px;
  width: 280px;

  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  padding: 15px;

  display: flex;
  flex-direction: column;
}
.card-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 10px;
}

.card-heading {
  font-weight: bold;
  font-size: 20px;
}

.edit-note {
  height: 40px;
  cursor: pointer;
}

.edit-note > img {
  height: 100%;
  width: 100%;
}

.card-content {
  margin-top: 10px;

  flex: 1;

  border: 1px solid white;
  border-radius: 15px;

  padding: 10px;

  word-break: break-word;

  overflow: hidden;

  display: -webkit-box;
  line-clamp: 5;
  -webkit-box-orient: vertical;

  line-height: 1.6;
}
